<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.team.core.repository">
	<repository
    		class="org.spearce.egit.core.GitProvider"
		id="org.spearce.egit.core.GitProvider">
	</repository>
  </extension>
<!-- ********** QuickDiff text editor support ************** -->
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            label="%GitRemoteQuickDiffProvider_label"
            class="org.spearce.egit.core.GitQuickDiffProvider"
            id="org.eclipse.quickdiff.providers.GitReferenceProvider">
      </referenceprovider>
   </extension>
   
</plugin>
