<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.team.ui.configurationWizards">
      <wizard name="%SharingWizard_name"
            icon="icons/sharing.gif"
            class="org.spearce.egit.ui.internal.sharing.SharingWizard"
            id="org.spearce.egit.ui.internal.sharing.SharingWizard">
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="org.spearce.egit.ui.projectContributions"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <filter name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.spearce.egit.core.GitProvider">
         </filter>
         <action
               label="%DisconnectAction_label"
               tooltip="%DisconnectAction_tooltip"
               class="org.spearce.egit.ui.internal.actions.Disconnect"
               menubarPath="team.main/projectGroup"
               id="org.spearce.egit.ui.internal.actions.Disconnect">
         </action>
         <action
               class="org.spearce.egit.ui.internal.actions.CheckpointAction"
               tooltip="%CheckpointAction_tooltip"
               label="%CheckpointAction_label"
               menubarPath="team.main/group1"
               id="org.spearce.egit.ui.internal.actions.CheckpointAction">
         </action>
         <action
               class="org.spearce.egit.ui.internal.actions.ResetAction"
               id="org.spearce.egit.ui.internal.actions.ResetAction"
               label="%ResetAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%ResetAction_tooltip">
         </action>
         <action
               class="org.spearce.egit.ui.internal.actions.BranchAction"
               id="org.spearce.egit.ui.internal.actions.BranchAction"
               label="%BranchAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%BranchAction_tooltip"/>
     </objectContribution>
     <objectContribution
            adaptable="true"
            id="org.spearce.egit.ui.fileFolderContributions"
            objectClass="org.eclipse.core.resources.IResource">
         <filter name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.spearce.egit.core.GitProvider">
         </filter>
         <action
               label="%UntrackAction_label"
               class="org.spearce.egit.ui.internal.actions.Untrack"
               tooltip="%UntrackAction_tooltip"
               menubarPath="team.main/group1"
               id="org.spearce.egit.ui.internal.actions.Untrack"/>   
         <action
               label="%TrackAction_label"
               class="org.spearce.egit.ui.internal.actions.Track"
               tooltip="%TrackAction_tooltip"
               menubarPath="team.main/group1"
               id="org.spearce.egit.ui.internal.actions.Track"/>
         <action
               class="org.spearce.egit.ui.internal.actions.ShowResourceInHistoryAction"
               id="org.spearce.egit.ui.internal.actions.ShowResourceInHistoryAction"
               label="%ShowResourceInHistoryAction_label"
               menubarPath="team.main/group1"
               tooltip="%ShowResourceInHistoryAction_tooltip"/>
         <action
               class="org.spearce.egit.ui.internal.actions.Update"
               id="org.spearce.egit.ui.internal.actions.Update"
               label="%UpdateAction_label"
               menubarPath="team.main/group1"
               tooltip="%UpdateAction_tooltip"/>
         <action
               class="org.spearce.egit.ui.internal.actions.CommitAction"
               id="org.spearce.egit.ui.internal.actions.CommitAction"
               label="%CommitAction_label"
               menubarPath="team.main/group1"
               tooltip="%CommitAction_tooltip"/>
	  </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="org.spearce.egit.ui.IFileContributions">
         <filter name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.spearce.egit.core.GitProvider">
         </filter>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="org.spearce.egit.core.internal.mapping.GitFileHistoryProvider"
               class="org.spearce.egit.ui.internal.factories.GitAdapterFactory">
            <adapter
                  type="org.eclipse.team.ui.history.IHistoryPageSource">
            </adapter>
         </factory>
         <factory
               adaptableType="org.eclipse.core.internal.resources.Resource"
               class="org.spearce.egit.ui.internal.factories.GitAdapterFactory">
            <adapter
                  type="org.eclipse.team.ui.history.IHistoryPageSource">
            </adapter>
         </factory>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page name="%PreferencePage_name"
            category="org.eclipse.team.ui.TeamPreferences"
            class="org.spearce.egit.ui.internal.preferences.GitPreferencePage"
            id="org.spearce.egit.ui.internal.preferences.GitPreferencePage" />
   </extension>

   <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="%Decorator_name"
            class="org.spearce.egit.ui.internal.decorators.GitResourceDecorator"
            state="true"
            location="BOTTOM_RIGHT"
            id="org.spearce.egit.ui.internal.decorators.GitResourceDecorator">
            <enablement>
              <objectClass name="org.eclipse.core.resources.IResource"/>
            </enablement>
         <description>
            %Decorator_description
         </description>
      </decorator>
   </extension>

<!-- ********** QuickDiff text editor support ************** -->
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            label="%GitRemoteQuickDiffProvider_label"
            class="org.spearce.egit.ui.internal.decorators.GitQuickDiffProvider"
            id="org.spearce.egit.ui.internal.decorators.GitQuickDiffProvider">
      </referenceprovider>
   </extension>
</plugin>
